@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#main_heading
{
    line-height: 1.375;
}
*
{
    scroll-behavior: smooth;
}
body::before
{
  content: '';
    display: block;
    height: 80px;
}
.responsive-nav
{
  display: block !important;
  position: absolute;
  top: 4.8rem;
  left: 0;
  width: 100vw;
  opacity:100 !important;
  background: #3D9368;
  margin: 0;
  padding: 1rem 2.6rem;
  padding-top: 0;
}

.responsive-nav li
{
  margin:0;
  margin-bottom:1rem;
}

.cards-wrapper
{
  @apply  grid grid-cols-1 justify-items-center md:grid-cols-2 md:justify-items-start items-center xs:gap-4 md:mr-8 mb-4;
}

.card-col-wrapper
{
  @apply mr-0 md:mr-4 xl:mr-20 xs:grid grid-cols-2 lg:grid-cols-1 gap-4 w-screen xs:w-full justify-items-center items-center px-8 xs:p-0;
}
.card-body
{
  @apply bg-white text-gray-800 flex flex-col justify-center items-center w-full h-52 rounded-2xl mt-6 shadow-lg cursor-pointer transition duration-200 ease-in hover:shadow-2xl;
}
.favorite-card-wrapper
{
  @apply sm:flex justify-between items-center gap-10 mt-16;
}
.favorite-card-body
{
  @apply border px-3 py-6 my-6 shadow-sm transition duration-200 ease-linear hover:shadow-md cursor-pointer;
}